
@{
    ViewBag.Title = "Hospital Juanchos - Acerca de Nosotros";
}

<h2  class="text-center">Acerca de Hospital Juanchos</h2>

<div>
Sitio web creado y diseñado por Juan Manuel Ureña Melenciano.
</div>

