@{
    ViewBag.Title = "Hospital Juanchos - Inicio";
}

<div class="container-flex">

    <div class="card">

        <div class="boxImg">
            <img src="~/assets/img_1.png" alt="Alternate Text" />
        </div>
        <section class="content-data">
            <h3>Mantenimiento</h3>
            <p>
                Aqui podra realizar operaciones de crear,
                eliminar y actualizar datos de los pacientes,
                medicos y  las habitaciones, como tambien consultar datos.
            </p>
            <hr />

            <a href="\Home/Mantenimiento" class="btn btn-primary epic move">Visitar</a>
        </section>
    </div>

    <div class=" card">

        <div class="boxImg">
            <img src="~/assets/img_2.png" alt="Alternate Text" />
        </div>
        <section class="content-data">
            <h3>Procesos</h3>
            <p>Aqui podras realizar tus altas, tus ingresos y tus citas medicas, como tambien consultar datos.</p>
            <hr />

            <a href="\Home/Procesos" class="btn btn-primary epic move">Visitar</a>
        </section>
    </div>
    </div>