
@{
    ViewBag.Title = "Hospital Juanchos - Mantenimiento";
}

<div class="container-flex">
    <div class=" card">

        <div class="boxImg">
            <img src="~/assets/img_3.png" alt="Alternate Text" />
        </div>
        <section class="content-data">
            <h3>Medico</h3>
            <p>Agrega a los medicos y consulta sus datos.</p>
            <hr />

            <a href="\Medicos/Index" class="btn btn-primary epic move">Visitar</a>
        </section>
    </div>
    <div class=" card">

        <div class="boxImg">
            <img src="~/assets/img_4.png" alt="Alternate Text" />
        </div>
        <section class="content-data">
            <h3>Paciente</h3>
            <p>Agrega tus Pacientes y Consulta sus Datos.</p>
            <hr />

            <a href="\Pacientes/Index" class="btn btn-primary epic move">Visitar</a>
        </section>
    </div>
    <div class=" card">

        <div class="boxImg">
            <img src="~/assets/img_5.png" alt="Alternate Text" />
        </div>
        <section class="content-data">
            <h3>Habitaciones</h3>
            <p>Agrega las Habitaciones y Consulta los Datos de ellas.</p>
            <hr />

            <a href="\Habitaciones/Index" class="btn btn-primary epic move">Visitar</a>
        </section>
    </div>
</div>