
@{
    ViewBag.Title = "Procesos";
}

<div class="container-flex">
    <div class="card">

        <div class="boxImg">
            <img src="~/assets/img_1.png" alt="Alternate Text" />
        </div>
        <section class="content-data">
            <h3>Citas Medicas</h3>
            <p>
                Aqui podra realizar las Citas Medicas de los Pacientes.
            </p>
            <hr />

            <a href="\Citas/Index" class="btn btn-primary epic move">Visitar</a>
        </section>
    </div>

    <div class="card">

        <div class="boxImg">
            <img src="~/assets/img_1.png" alt="Alternate Text" />
        </div>
        <section class="content-data">
            <h3>Ingresos</h3>
            <p>
                Aqui podra realizar los ingresos de los pacientes.
            </p>
            <hr />

            <a href="\Ingresos/Index" class="btn btn-primary epic move">Visitar</a>
        </section>
    </div>
    <div class="card">

        <div class="boxImg">
            <img src="~/assets/img_1.png" alt="Alternate Text" />
        </div>
        <section class="content-data">
            <h3>Altas</h3>
            <p>
                Aqui podra realizar las altas medicas de los pacientes.
            </p>
            <hr />

            <a href="\Altas/Index" class="btn btn-primary epic move">Visitar</a>
        </section>
    </div>
</div>
